.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s linear;
}

.footer__column-link:hover {
  opacity: .7;
}